.header{
    display: flex;
    justify-content: space-between; /*
    This is dividing the flex in left and right instead of the side by side
    */
    border: 1px solid brown;
}
.logo{
    width: 150px;
}
.nav-items > ul {
    display: flex;
    font-size:  20px;
}
.nav-items > ul > li {
   padding: 10px;
   margin: 10px;
   
  
}

.card{
    width: 200px;
    height: 300px;
    border:  1px solid black;
}

.search{
    padding: 10px;
}